.tx__row:after {
  content: "";
  display: table;
  clear: both; }

.tx__container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  background: #d2f1fc; }
  @media (min-width: 600px) {
    .tx__container {
      padding: 0 32px; } }

.tx__row, .tx__col {
  border: 1px solid #e3e3e3; }

.tx__row {
  background: #fffbcb; }
  .tx__row .tx__col {
    display: block;
    float: left;
    width: 100%;
    background: #ffc5db;
    /* TRAD */ }
    .tx__row .tx__col.tx__col--1of6 {
      width: 16.66667%; }
    .tx__row .tx__col.tx__col--2of6 {
      width: 33.33333%; }
    .tx__row .tx__col.tx__col--3of6 {
      width: 50%; }
    .tx__row .tx__col.tx__col--4of6 {
      width: 66.66667%; }
    .tx__row .tx__col.tx__col--5of6 {
      width: 83.33333%; }
    .tx__row .tx__col.tx__col--6of6 {
      width: 100%; }
  .tx__row.tx__row--gutters .tx__col {
    margin-left: 4.4%;
    /* TRAD W/ GUTTERS */ }
    .tx__row.tx__row--gutters .tx__col:first-child {
      margin-left: 0 !important; }
    .tx__row.tx__row--gutters .tx__col.tx__col--1of6 {
      width: 13%; }
    .tx__row.tx__row--gutters .tx__col.tx__col--2of6 {
      width: 30.4%; }
    .tx__row.tx__row--gutters .tx__col.tx__col--3of6 {
      width: 47.8%; }
    .tx__row.tx__row--gutters .tx__col.tx__col--4of6 {
      width: 65.2%; }
    .tx__row.tx__row--gutters .tx__col.tx__col--5of6 {
      width: 82.6%; }
    .tx__row.tx__row--gutters .tx__col.tx__col--6of6 {
      width: 100%; }

.flexbox .tx__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .flexbox .tx__row.tx__row--top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .flexbox .tx__row.tx__row--center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .flexbox .tx__row.tx__row--bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
  .flexbox .tx__row .tx__col {
    float: none;
    width: auto !important;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .flexbox .tx__row .tx__col.tx__col--1of6 {
      -webkit-flex-basis: 16.66667%;
      -moz-flex-basis: 16.66667%;
      -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%; }
    .flexbox .tx__row .tx__col.tx__col--2of6 {
      -webkit-flex-basis: 33.33333%;
      -moz-flex-basis: 33.33333%;
      -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%; }
    .flexbox .tx__row .tx__col.tx__col--3of6 {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
    .flexbox .tx__row .tx__col.tx__col--4of6 {
      -webkit-flex-basis: 66.66667%;
      -moz-flex-basis: 66.66667%;
      -ms-flex-preferred-size: 66.66667%;
      flex-basis: 66.66667%; }
    .flexbox .tx__row .tx__col.tx__col--5of6 {
      -webkit-flex-basis: 83.33333%;
      -moz-flex-basis: 83.33333%;
      -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%; }
    .flexbox .tx__row .tx__col.tx__col--6of6 {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    @media (min-width: 600px) {
      .flexbox .tx__row .tx__col.tx__col--1of12--tablet {
        -webkit-flex-basis: 8.33333%;
        -moz-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%; }
      .flexbox .tx__row .tx__col.tx__col--2of12--tablet {
        -webkit-flex-basis: 16.66667%;
        -moz-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
      .flexbox .tx__row .tx__col.tx__col--3of12--tablet {
        -webkit-flex-basis: 25%;
        -moz-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
      .flexbox .tx__row .tx__col.tx__col--4of12--tablet {
        -webkit-flex-basis: 33.33333%;
        -moz-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
      .flexbox .tx__row .tx__col.tx__col--5of12--tablet {
        -webkit-flex-basis: 41.66667%;
        -moz-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%; }
      .flexbox .tx__row .tx__col.tx__col--6of12--tablet {
        -webkit-flex-basis: 50%;
        -moz-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
      .flexbox .tx__row .tx__col.tx__col--7of12--tablet {
        -webkit-flex-basis: 58.33333%;
        -moz-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%; }
      .flexbox .tx__row .tx__col.tx__col--8of12--tablet {
        -webkit-flex-basis: 66.66667%;
        -moz-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%; }
      .flexbox .tx__row .tx__col.tx__col--9of12--tablet {
        -webkit-flex-basis: 75%;
        -moz-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%; }
      .flexbox .tx__row .tx__col.tx__col--10of12--tablet {
        -webkit-flex-basis: 83.33333%;
        -moz-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%; }
      .flexbox .tx__row .tx__col.tx__col--11of12--tablet {
        -webkit-flex-basis: 91.66667%;
        -moz-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%; }
      .flexbox .tx__row .tx__col.tx__col--12of12--tablet {
        -webkit-flex-basis: 100%;
        -moz-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    @media (min-width: 1024px) {
      .flexbox .tx__row .tx__col.tx__col--1of12--desktop {
        -webkit-flex-basis: 8.33333%;
        -moz-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
        flex-basis: 8.33333%; }
      .flexbox .tx__row .tx__col.tx__col--2of12--desktop {
        -webkit-flex-basis: 16.66667%;
        -moz-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%; }
      .flexbox .tx__row .tx__col.tx__col--3of12--desktop {
        -webkit-flex-basis: 25%;
        -moz-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
      .flexbox .tx__row .tx__col.tx__col--4of12--desktop {
        -webkit-flex-basis: 33.33333%;
        -moz-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
      .flexbox .tx__row .tx__col.tx__col--5of12--desktop {
        -webkit-flex-basis: 41.66667%;
        -moz-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%; }
      .flexbox .tx__row .tx__col.tx__col--6of12--desktop {
        -webkit-flex-basis: 50%;
        -moz-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
      .flexbox .tx__row .tx__col.tx__col--7of12--desktop {
        -webkit-flex-basis: 58.33333%;
        -moz-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%; }
      .flexbox .tx__row .tx__col.tx__col--8of12--desktop {
        -webkit-flex-basis: 66.66667%;
        -moz-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%; }
      .flexbox .tx__row .tx__col.tx__col--9of12--desktop {
        -webkit-flex-basis: 75%;
        -moz-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
        flex-basis: 75%; }
      .flexbox .tx__row .tx__col.tx__col--10of12--desktop {
        -webkit-flex-basis: 83.33333%;
        -moz-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%; }
      .flexbox .tx__row .tx__col.tx__col--11of12--desktop {
        -webkit-flex-basis: 91.66667%;
        -moz-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%; }
      .flexbox .tx__row .tx__col.tx__col--12of12--desktop {
        -webkit-flex-basis: 100%;
        -moz-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .flexbox .tx__row .tx__col.tx__col--top {
      -webkit-align-self: flex-start;
      -moz-align-self: flex-start;
      -ms-flex-item-align: start;
      align-self: flex-start; }
    .flexbox .tx__row .tx__col.tx__col--center {
      -webkit-align-self: center;
      -moz-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; }
    .flexbox .tx__row .tx__col.tx__col--bottom {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end; }
  @media (min-width: 600px) {
    .flexbox .tx__row.tx__row--gutters .tx__col {
      margin-left: 2.36%; } }
  .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--1of6 {
    -webkit-flex-basis: 13%;
    -moz-flex-basis: 13%;
    -ms-flex-preferred-size: 13%;
    flex-basis: 13%; }
  .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--2of6 {
    -webkit-flex-basis: 30.4%;
    -moz-flex-basis: 30.4%;
    -ms-flex-preferred-size: 30.4%;
    flex-basis: 30.4%; }
  .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--3of6 {
    -webkit-flex-basis: 47.8%;
    -moz-flex-basis: 47.8%;
    -ms-flex-preferred-size: 47.8%;
    flex-basis: 47.8%; }
  .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--4of6 {
    -webkit-flex-basis: 65.2%;
    -moz-flex-basis: 65.2%;
    -ms-flex-preferred-size: 65.2%;
    flex-basis: 65.2%; }
  .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--5of6 {
    -webkit-flex-basis: 82.6%;
    -moz-flex-basis: 82.6%;
    -ms-flex-preferred-size: 82.6%;
    flex-basis: 82.6%; }
  .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--6of6 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  @media (min-width: 600px) {
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--1of12--tablet {
      -webkit-flex-basis: 6.17%;
      -moz-flex-basis: 6.17%;
      -ms-flex-preferred-size: 6.17%;
      flex-basis: 6.17%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--2of12--tablet {
      -webkit-flex-basis: 14.7%;
      -moz-flex-basis: 14.7%;
      -ms-flex-preferred-size: 14.7%;
      flex-basis: 14.7%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--3of12--tablet {
      -webkit-flex-basis: 23.23%;
      -moz-flex-basis: 23.23%;
      -ms-flex-preferred-size: 23.23%;
      flex-basis: 23.23%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--4of12--tablet {
      -webkit-flex-basis: 31.76%;
      -moz-flex-basis: 31.76%;
      -ms-flex-preferred-size: 31.76%;
      flex-basis: 31.76%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--5of12--tablet {
      -webkit-flex-basis: 40.29%;
      -moz-flex-basis: 40.29%;
      -ms-flex-preferred-size: 40.29%;
      flex-basis: 40.29%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--6of12--tablet {
      -webkit-flex-basis: 48.82%;
      -moz-flex-basis: 48.82%;
      -ms-flex-preferred-size: 48.82%;
      flex-basis: 48.82%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--7of12--tablet {
      -webkit-flex-basis: 57.35%;
      -moz-flex-basis: 57.35%;
      -ms-flex-preferred-size: 57.35%;
      flex-basis: 57.35%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--8of12--tablet {
      -webkit-flex-basis: 65.88%;
      -moz-flex-basis: 65.88%;
      -ms-flex-preferred-size: 65.88%;
      flex-basis: 65.88%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--9of12--tablet {
      -webkit-flex-basis: 74.41%;
      -moz-flex-basis: 74.41%;
      -ms-flex-preferred-size: 74.41%;
      flex-basis: 74.41%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--10of12--tablet {
      -webkit-flex-basis: 82.94%;
      -moz-flex-basis: 82.94%;
      -ms-flex-preferred-size: 82.94%;
      flex-basis: 82.94%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--11of12--tablet {
      -webkit-flex-basis: 91.47%;
      -moz-flex-basis: 91.47%;
      -ms-flex-preferred-size: 91.47%;
      flex-basis: 91.47%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--12of12--tablet {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }
  @media (min-width: 1024px) {
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--1of12--desktop {
      -webkit-flex-basis: 6.17%;
      -moz-flex-basis: 6.17%;
      -ms-flex-preferred-size: 6.17%;
      flex-basis: 6.17%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--2of12--desktop {
      -webkit-flex-basis: 14.7%;
      -moz-flex-basis: 14.7%;
      -ms-flex-preferred-size: 14.7%;
      flex-basis: 14.7%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--3of12--desktop {
      -webkit-flex-basis: 23.23%;
      -moz-flex-basis: 23.23%;
      -ms-flex-preferred-size: 23.23%;
      flex-basis: 23.23%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--4of12--desktop {
      -webkit-flex-basis: 31.76%;
      -moz-flex-basis: 31.76%;
      -ms-flex-preferred-size: 31.76%;
      flex-basis: 31.76%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--5of12--desktop {
      -webkit-flex-basis: 40.29%;
      -moz-flex-basis: 40.29%;
      -ms-flex-preferred-size: 40.29%;
      flex-basis: 40.29%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--6of12--desktop {
      -webkit-flex-basis: 48.82%;
      -moz-flex-basis: 48.82%;
      -ms-flex-preferred-size: 48.82%;
      flex-basis: 48.82%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--7of12--desktop {
      -webkit-flex-basis: 57.35%;
      -moz-flex-basis: 57.35%;
      -ms-flex-preferred-size: 57.35%;
      flex-basis: 57.35%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--8of12--desktop {
      -webkit-flex-basis: 65.88%;
      -moz-flex-basis: 65.88%;
      -ms-flex-preferred-size: 65.88%;
      flex-basis: 65.88%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--9of12--desktop {
      -webkit-flex-basis: 74.41%;
      -moz-flex-basis: 74.41%;
      -ms-flex-preferred-size: 74.41%;
      flex-basis: 74.41%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--10of12--desktop {
      -webkit-flex-basis: 82.94%;
      -moz-flex-basis: 82.94%;
      -ms-flex-preferred-size: 82.94%;
      flex-basis: 82.94%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--11of12--desktop {
      -webkit-flex-basis: 91.47%;
      -moz-flex-basis: 91.47%;
      -ms-flex-preferred-size: 91.47%;
      flex-basis: 91.47%; }
    .flexbox .tx__row.tx__row--gutters .tx__col.tx__col--12of12--desktop {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; } }

.tx--content-centered {
  text-align: center; }

/*# sourceMappingURL=tessellex.css.map */
